<section class="d-flex">
  <ul class="ul d-flex flex-wrap">
    {{#each menus as |menu|}}
      <li style="list-style-type: none">
        <div class="card m-4 listener menuitem" style="width: 10rem;">
          <div class="card-body">
            <h5 class="card-title menu-item">{{item_name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted item-price"id="price">${{price}}</h6>
            <img src="/images/{{image_path}}" class="card-img-top" alt="{{item_name}}">
            <button class="btn btn-primary" data-item="{{item_name}}" data-id="{{id}}" data-price="{{price}}">Add Item</button>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>

  <section class="mt-4" id="orderCart">
    <h2>Order:</h2>
    <div>
      <h3>Items:</h3>
      <div class="order-items"></div>
    </div>
    {{!-- <div>
      <h3>Customizations:</h3>
      <div class="mods"></div>
    </div> --}}
    <div>
      <h3>Total:</h3>
      <div class="order-price"></div>
    </div>
    
    <button class="btn btn-primary" id="orderSubmit">Submit Order</button>
  </section>

</section>

<script src="/js/menu.js"></script>
